include ../../mixins/thumbs_sm_slider
include ../../mixins/rate

-
  const chars = [
      {
          title: 'Каталог',
          desc: 'Вино',
          class: 'cmn__text--purple'
      },
      {
          title: 'Цвет',
          desc: 'Красное',
          class: 'cmn__text--purple'
      },
      {
          title: 'Сахар',
          desc: 'Полусухое',
          class: 'cmn__text--purple'
      },
      {
          title: 'Год',
          desc: '2017',
          class: 'cmn__text--purple'
      },
      {
          title: 'Крепость',
          desc: '14%',
          class: 'cmn__text--purple'
      },
      {
          title: 'Производитель',
          desc: 'Casa Defra',
          class: 'cmn__text--purple'
      },
      {
          title: 'Регион',
          desc: 'США, Калифорния',
          countryFlag: './assets/img/flag-us.png',
          class: 'cmn__text--purple'
      },
      {
          title: 'Виноград',
          desc: 'Пино Менье, Пино Нуар, Шардоне',
          class: 'cmn__text--purple'
      },
      {
          title: 'Особенности',
          desc: 'Нет',
      },
      {
          title: 't° сервировки',
          desc: '18 °C',
      },
      {
          title: 'Вкус',
          desc: 'Гармоничный, кислинка, приятный, свежий, фруктовый, цветочный, чистый',
      },
      {
          title: 'Гастрономия',
          desc: 'Выпечка, десерты, морепродукты/дары моря, ракообразные, рыбные деликатесы',
      },
  ]

-
  const places = [
    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: true,
      note: 'Покупка от 12 000 ₽',
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '3156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: false,
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '13253156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: true,
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '3156'
    },
    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: true,
      note: 'Покупка от 12 000 ₽',
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '3156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: false,
      count: '155',
      vintage: '2018',
      volume: '0.75',
      price: '323156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: true,
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '3156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: true,
      note: 'Покупка от 12 000 ₽',
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '3156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: false,
      count: '155',
      vintage: '2018',
      volume: '0.75',
      price: '323156'
    },

    {
      metro: 'Павелецкая',
      openFrom: '9:00',
      openUntil: '22:00',
      isOpen: true,
      count: '12',
      vintage: '2018',
      volume: '0.75',
      price: '3156'
    }
  ]

-
  const images = ['./assets/img/cat-item_1.png','./assets/img/cat-item_2.png','./assets/img/cat-item_3.png','./assets/img/cat-item_4.png',]

section.about
  .cmn__wrapper
    .about__grid
      .about__header 
        h2.cmn__title Wine Charles Pelletier Blanc de Blancs Reserve Brut
        p.cmn_text Шарль Пеллетье Блан де Блан Резерв Брют
      
        +rate(false, true, true, true, true)
      .about__gallery
        +thumbs_sm_slider(images, 'Wine Charles Pelletier Blanc de Blancs Reserve Brut')
      
      .about__controls
        .about__controls-field
          span.cmn__text.cmn__text-small.cmn__text--bold Подарочная упаковка

          form(action="#")
            input(type="radio" id="gift-wrap-no" name="gift-wrap" value="Нет" checked)
            label(for="gift-wrap-no").cmn__label Нет

            input(type="radio" id="gift-wrap-yes" name="gift-wrap" value="Да")
            label(for="gift-wrap-yes").cmn__label Да        
        
        .about__controls-field
          span.cmn__text.cmn__text-small.cmn__text--bold Винтаж
          .cmn__select
            form(action="") 
              select.cmn__select
                option 2018
                option 2019
        
        .about__controls-field
          span.cmn__text.cmn__text-small.cmn__text--bold Объем
          .cmn__select
            form(action="") 
              select.cmn__select
                option 0.1л
                option 0.25л
                option 0.5л
                option 0.7л
                option 0.75л
                option 1.0л
        
      .about__places
        .about__places-header
          h2.cmn__title.cmn__title--small Где купить
          .cmn__select
            select.cmn__select
              option По цене
              option По кол-ву
        
        .about__places-wrapper
          ul.about__places-list
            each place in places
              li.about__places-item
                .about__places-field.about__places-field-main
                  span.cmn__text.cmn__text--small.place-position= place.metro
                  span.cmn__text.cmn__text--small(class=!place.isOpen ? 'cmn__text--warning' : null)= place.isOpen ? 'Открыто до ' + place.openUntil : 'Закрыто до ' + place.openFrom
                  if place.note
                    i.cmn__text.cmn__text--small= place.note
                .about__places-field.about__places-field-chars
                  span.cmn__text= place.count + 'шт.'
                  span.cmn__text= place.vintage
                  span.cmn__text= place.volume
                  span.cmn__text.cmn__text--purple= place.price + '₽'
                .about__places-field.about__places-add
                  include ../../components/cart-add-btn
          
          .about__places-more
            button(type="button").cmn__btn.cmn__btn--outlined.js-show-more-places-btn Показать все
            span.cmn__text.cmn__text--bold.cmn__text--small 16
      .about__chars
        h2.cmn__title.cmn__title--small Характеристики

        ul
          each char in chars
            li
              span.cmn__text= char.title
              span.cmn__text(class=char.class ? char.class : null)= char.desc
      .about__map
        #yandex-map